{% extends 'base.html' %}
{% block content %}

  <h1>sk8collector</h1>
  <hr/>

  <div class="container">
    <h3>Welcome, skater!</h3>
    <p>I hope you enjoy this tool to track and organize your skates. sk8collector is designed to help you add skates to your collection, track maintenance performed on them, and bookmark places to skate with your set up.</p>
    <p>"Sk8 Places" is a collaborative databse, so as more users track favorite places to skate, you'll have more options to choose from on your sk8's detail page.</p>
    <p>All other data (user info, skates, logs) is kept private and only available to the currently logged-in user.</p>
  </div>

  <br/><br/>

  <div class="container valign center">
    <h4>Hire the Skate Collector!</h4>
    <p>This app was built using Django, Python, HTML, Materialize.css, and JavaScript.</p>
    <p>For more information: Jess LaFrank is on <a href="https://www.linkedin.com/in/jesslafrank/" target="_blank">LinkedIn</a> and <a href="https://github.com/jlafrank1" target="_blank">GitHub</a>
    </p>
  </div>

{% endblock %}
